<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<tr>
    <td style="width:200px"></td>
    <td th:text="${user.username}">Name</td>
    <td th:text="${user.lastname}">Last Name</td>
    <td th:text="${user.age}">Age</td>
</tr>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="logout"/>
</form>
</body>
</html>